.buttons {
    display: flex;
    justify-content: space-between;
}
.info_display ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.info_display  ul li {
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    width: 200px;
}

.inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media only screen and (max-width: 450px) {
    .buttons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 775px) {
    .inline {
        display: block;
    }
}