.buttons {
    display: flex;
    justify-content: space-between;
}
.info_display ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.info_display  ul li {
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    width: 200px;
}